/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'Droid Serif', serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: 'Droid Serif', serif;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  margin-bottom: 2em;
  text-align: center;
}

.site .header a {
  text-decoration: none;
}

.site .header h1.title {
  font-size: 3em;
  font-variant: small-caps;
}

.site .header h1.title a {
  /*color: #a00;*/
  color: #4c9063;
}

.site .header h1.title a:hover {
  /*color: #000;*/
  /*color: #a6ddb9;*/
  /*color: #aaa;*/
  color: #93c572;
}

.site .header a.extra {

  color: #000;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #4c9063;
}

.site .header .opening-quote {
  font-family: 'Droid Serif', serif;
  font-size: 1em;
  color: black;
  margin: 0em 5em 1em 5em;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  text-align: center;
}


.site .header .nav {
  text-align: left;
  font-variant: small-caps;
  border-bottom: 1px solid #4c9063;
}


.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}

.post-title {
	text-align: center;
	font-size: 1.5em;
}

blockquote {
   padding: 0em 5em 0em 5em;	
	}

/**************/
/*
/* Quote Posts
/*
/**************/

.quote-info {
 	text-align: right;
 	font-family: 'Source Pro Sans', sans-serif;
 	font-weight: 700;
}

/**************/
/*
/* Link Posts
/*
/**************/ 	

.link {
   text-align: center;
   margin: 1em 15em 0em;
   padding: 10px 10px 0px 10px;	
   box-shadow: 1px 1px 2px #000;
	}

.link a{
   font-family: 'Droid Serif', serif;
   text-decoration: none;
   color: #0aaaba;
   font-size: 3em;
   font-weight: 700;	
	}
 	
.link a:hover{
   color: #4c9063;
	} 	
	
/**************/
/*
/* Book Posts
/*
/**************/ 

.book-pic {
	text-align: center;
	margin-bottom: 2em;
	}

.words h2{
	font-size: 1.5em;	
	}

/*****************************************************************************/
/*
/* List Pages
/*
/*****************************************************************************/

.heading {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.75em;
	color: #4c9063;
	margin-left: 9em;
	margin-right: 9em;
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
	}

.collapsibleList .sub-title {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-variant: small-caps;
  font-size: 1em;
  border: 1px solid #4c9063;
	}
	
.collapsibleList p,li {
	font-family: 'Droid Serif', serif;	
	}	

.collapsibleList li{
   color: #696d6b;	
	}

.collapsibleList a:hover, .ted-desc:hover{
	color: #4c9063;
	}

.ted-desc{
   color: #696d6b;
	}
