/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'Droid Serif', serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts a, a:visited {
	text-decoration: none;
	color: #000; 
}

ul li a {
	text-decoration: none;
	color: #000; 
}

ul li {
	/*color: #07566d;*/ 
}

ul.posts a:hover {
	color: #07566d;
	border-left: 3px solid #07566d;
	border-right: 3px solid #07566d;
	background-color: #e9fbfa;
	border-radius: 20px;
	padding: .25em 2em .25em 2em;
}

ul.posts span {
  color: #aaa;
  font-family: 'Droid Serif', serif;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  margin-bottom: 2em;
  text-align: center;
	padding: 1em 1em 0em 1em; 
	border-bottom: 3px solid #07566d;
	background-color: #e9fbfa;
	border-radius: 20px;
}

.site .header a {
  text-decoration: none;
}

.site .header h1.title {
  font-size: 3em;
  font-variant: small-caps;
 
}

.site .header h1.title a {
  /*color: #a00;*/
  /*color: #4c9063;*/
	color: #07566d;
}



.site .header a.extra {

  color: #000;
  margin-left: 1em;
}

.site .header a.extra:hover {
  /*color: #4c9063;*/
	color: #07566d;
}

.site .header .opening-quote {
  font-family: 'Droid Serif', serif;
  font-size: 1em;
  color: black;
  margin: 0em 5em 1em 5em;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  text-align: center;
}


.site .header .nav {
  text-align: left;
  font-variant: small-caps;
  /*border-bottom: 3px solid #4c9063;*/
}


.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  /*border-top: 4px solid #eee;*/
  margin-top: 2em;
  overflow: hidden;
	border-top: 3px solid #07566d;
	background-color: #e9fbfa;
	border-radius: 20px;
	padding-left: 1em;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}

.post-title {
	text-align: center;
	font-size: 1.5em;
}

blockquote {
   margin: 0em 5em 0em 5em;
   padding: .5em;	
   background-color: #eef6f4;
	}

/**************/
/*
/* Quote Posts
/*
/**************/

.quote-info {
 	text-align: right;
 	font-family: 'Source Pro Sans', sans-serif;
 	font-weight: 700;
}

/**************/
/*
/* Link Posts
/*
/**************/ 	

.link {
   text-align: center;
   margin: 1em 15em 0em;
   padding: 10px 10px 0px 10px;	
   box-shadow: 1px 1px 2px #000;
	}

.link a{
   font-family: 'Droid Serif', serif;
   text-decoration: none;
   color: #025076;
   font-size: 3em;
   font-weight: 700;	
	}
	
.link:hover {
	background-color: #d9ffb4;	
	}
 		
/**************/
/*
/* Book Posts
/*
/**************/ 

.book-pic {
	text-align: center;
	margin-bottom: 2em;
	}

.words h2{
	font-size: 1.5em;	
	}

/**************/
/*
/* Video Posts
/*
/**************/

.vid {
	text-align: center;	
	}

/**************/
/*
/* Letter Posts
/*
/**************/
 
.return {
   margin: 1em 4em 1em;
   text-align: center;
   border-top: 1px solid #4c9063;
   font-family: 'Source Pro Sans', sans-serif;
	} 
 
/*****************************************************************************/
/*
/* List Pages
/*
/*****************************************************************************/

.heading {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.75em;
	color: #07566d;
	margin-left: 9em;
	margin-right: 9em;
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
	}

.collapsibleList .sub-title {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-variant: small-caps;
  font-size: 1em;
  border: 3px solid #07566d;
	background-color: #e9fbfa;
	}
	
.collapsibleList p,li {
	font-family: 'Droid Serif', serif;	
	}	

.collapsibleList li{
   color: #696d6b;	
	}

.collapsibleList a:hover, .ted-desc:hover{
	color: #07566d;
	}

.ted-desc{
   color: #696d6b;
	}

/**********************************************/
/*
/* Bootcamp Table List
/*
/**********************************************/

#bootcamp-table {
	background-color: #eeeeee;
	padding: .5em 1em .5em;
	margin: 0em 4em 0em;
	border-radius: 5px;
	border: 1px solid #b7bcb5;
}

#bootcamp-table td {
	padding: 0em 2em 0em;
}

#bootcamp-table a {
	color: black;
}

#bootcamp-table a:hover{
	color: #4c9063;
}
	
/*****************************************************************************/
/*
/* Profiles Page
/*
/*****************************************************************************/

#profiles table {
	margin: 1em 4em 1em;
	}

#profiles td {
   padding: 1em;
   box-shadow: 1px 1px 2px #000;	
	}

#profiles td:hover{
	/*background-color: #d9ffb4;*/
	background-color: #e9fbfa;
	}

#profiles a{
   font-family: 'Source Pro Sans', sans-serif;
   font-size: 2em;
   font-weight: 700;
   color: #025076; 	
   text-decoration: none;
   font-variant: small-caps;
   
	}
	
/*********************************************************************************/
/*
/* Project Page
/*
/*********************************************************************************/

.proj-status {
   color: #025076;
   margin: 1em 4em 1em;
   border: 1px solid black;	
   padding: .5em;
   background-color: #d9ffb4;
   font-size: .85em;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: normal;
	}

.status-desc {
   margin: 2em 2em 2em;
   font-style: italic;
	}


/*********************************************************************************/
/*
/* Read Page
/*
/*********************************************************************************/

.author-sp {
	color: #07566d;
}















