/*
 * COLORS
 * ======
 * olive - #3D9970;
 * grey (dark) - #aaa
 * grey (light) - #eee
 *
 */

body {
  font-family: "Rokkitt", serif;
  font-size: 20px;
}

a, a:visited, strong {
  color: #3D9970;
}

p.lead {
  font-family: sans-serif;
}

.header {
  width: intrinsic;
}

.site-title {
  display: inline-block;
  width: intrinsic;
}

.site-title a {
  color: white;
}

.site-title a:hover {
  text-decoration: none;
  color: #3D9970;
}

.site-title a:visited {
  color: white;
}

.social-wrapper {
  width: intrinsic;
}

.social-icon {
  margin: 0 10px;
  width: intrinsic;
  display: inline-block;
}

.social-icon:hover {
  -moz-box-shadow: 0 0 2px 2px #3D9970;
  -webkit-box-shadow: 0 0 2px 2px #3D9970;
  box-shadow: 0 0 2px 2px #3D9970;
}

.navigation {
  margin-top: 20px;
  text-align: center;
}

.navigation ul {
  list-style-type: none;
  padding-left: 0;
}

.navigation li a {
  font-size: 20px;
  font-family: 'Rokkitt', serif;
  color: black;
}

.navigation a:hover {
  text-decoration: none;
  color: #3D9970;
}

a.btn {
  color: white;
  font-family: sans-serif;
}

a.index-link, a:visited.index-link {
  color: #111;
}

a:hover.index-link {
  text-decoration: none;
  color: #3D9970;
}

.tech-logo {
  max-height: 64px;
}

.profile-images-section {
  padding: 5%;
}
