---
layout: default
---

<div class="row well">
  <p class="lead center">Hi there. My name is Pat McGee, and I am many things:</p>
  <div class="profile-section">
    {% include home/web-dev-section.html %}
  </div>
  <div class="profile-section">
    {% include home/education-section.html %}
  </div>
  <div class="profile-section">
    {% include home/data-science-section.html %}
  </div>
  <div class="profile-section">
    {% include home/writer-section.html %}
  </div>
</div>
<div class="row">
    <div class="col-lg-10 offset-2">
    <h2>Recent Posts</h2>
    {% for post in site.categories.front limit:5 %}
      <div class="row">
        <div class="post-summary-container">
          <h4><a class="index-link" href="{{ post.url }}">{{ post.title}}</a><br><small>{{ post.date | date_to_string }}</small></h4>
          <p>{{ post.content | strip_html | truncate: 200 }}...</p>
        </div>
      </div>
    {% endfor %}
</div>

<!--   <div class="col-lg-8">
    <h1>Recent Posts</h1>
    <div class="row">
      {% for post in site.categories.front limit:4 %}
        <div class="col-lg-3 hover-color">{{ post.date | date_to_string }}<br><a href="{{ post.url }}">{{ post.title }}</a></div>
      {% endfor %}
    </div>
    <br />
    <div class="row">
    {% for post in site.categories.front offset:4 limit:4 %}
      <div class="col-lg-3 hover-color">{{ post.date | date_to_string }}<br><a href="{{ post.url }}">{{ post.title }}</a></div>
    {% endfor %}
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>
<hr/>
<div class="row">
  <div class="col-lg-8">
    <h1>Recent Projects</h1>
    <div class="row">
      {% for post in site.categories.project limit:4 %}
        <div class="col-lg-3 hover-color">{{ post.date | date_to_string }}<br><a href="{{ post.url }}">{{ post.title }}</a></div>
      {% endfor %}
    </div>
  </div>
  <div class="col-lg-4"></div> -->