<ol>
	<li><a href="http://en.wikiversity.org/wiki/Wikiversity:Main_Page" target="_blank">Wikiversity</a>
	</li>
	<li><a href="http://en.wikibooks.org/wiki/Main_Page" target="_blank">Wikibooks</a>
	</li>	
	<li><a href="http://www.mentormob.com/" target="_blank">Mentor Mob</a>
	</li>
	<li><a href="https://p2pu.org/en/" target="_blank">P2PU</a>
	</li>		
	<li><a href="http://www.veri.com" target="_blank">Veri</a>
	</li>	
	<li><a href="http://ureddit.com/" target="_blank">University of Reddit</a>
	</li>
	<li><a href="http://cnx.org/" target="_blank">Connexions</a>
	</li>
	<li><a href="http://www.academia.edu/" target="_blank">Academia.edu</a>
	</li>	
	<li><a href="http://www.ztcollege.com/" target="_blank">Zero Tuition College</a>
	</li>
	<li><a href="https://learningjar.com/" target="_blank">Learning Jar</a>
	</li>
	<li><a href="http://www.citizencircles.com/" target="_blank">Citizen Circles</a>
	</li>
	<li><a href="http://openstudy.com/" target="_blank">Open Study</a></li>
</ol>
