<ol>
	<li><a href="http://www.textbookrevolution.org/index.php/Main_Page" target="_blank">Textbook Revolution</a>
	</li>
	<li><a href="http://bookboon.com/uk/textbooks" target="_blank">BookBoon</a>
	</li>	
	<li><a href="http://www.doaj.org/" target="_blank">Directory of Open Access Journals</a>
	</li>	
	<li><a href="http://www.scirus.com/">Scirius</a>
	</li>
	<li><a href="http://www.gutenberg.org/" target="_blank">Project Gutenberg</a>
	</li>	
	<li><a href="http://ecorner.stanford.edu/" target="_blank">Stanford E-Corner</a>
	</li>	
	<li><a href="http://www.gresham.ac.uk/lectures-and-events/categories" target="_blank">Gresham College</a>
	</li>	
	<li><a href="http://poptech.org/popcasts" target="_blank">PopTech</a>
	</li>
	<li><a href="http://documentaryheaven.com" target="_blank">Documentary Heaven</a>
	</li>
	<li><a href="http://www.howstuffworks.com/" target="_blank">How Stuff Works</a>
	</li>
	<li><a href="http://www.coursehero.com/" target="_blank">Course Hero</a>
	</li>
</ol>
