      <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <style type="text/css" media="screen">
  .gr_custom_container_1369354882 {
    /* customize your Goodreads widget container here*/
    border: 2px solid #07566d;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFFFFF;
    color: #000000;
    width: 500px;
		margin: 1em 3em 0em;
  }
  .gr_custom_header_1369354882 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 120%
  }
	
	.gr_custom_container_1369354882 a {
		color: #000000;
  }

  .gr_custom_each_container_1369354882 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_1369354882 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
      float: left;
      margin-right: 4px;
      width: 39px;
  }
  .gr_custom_author_1369354882 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_1369354882 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1369354882 {
    /* customize your rating stars here */
    float: right;
  }
</style>

      <div id="gr_custom_widget_1369354882">
          <div class="gr_custom_container_1369354882">
    <h2 class="gr_custom_header_1369354882">
    <a href="http://www.goodreads.com/review/list/7599255-pat-mcgee?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget" style="text-decoration: none;">Pat's bookshelf: currently-reading</a>
    </h2>
      <div class="gr_custom_each_container_1369354882">
          <div class="gr_custom_book_container_1369354882">
            <a href="http://www.goodreads.com/review/show/623031490?utm_medium=api&amp;utm_source=custom_widget" title="Beginning Ruby: From Novice to Professional"><img alt="Beginning Ruby: From Novice to Professional" border="0" src="http://d.gr-assets.com/books/1348721321s/764815.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1369354882">
            <img alt="0 of 5 stars" class=" staticStars" src="http://www.goodreads.com/images/layout/stars/red_star_0_of_5.png" title="0 of 5 stars, " />
          </div>
          <div class="gr_custom_title_1369354882">
            <a href="http://www.goodreads.com/review/show/623031490?utm_medium=api&amp;utm_source=custom_widget">Beginning Ruby: From Novice to Professional</a>
          </div>
          <div class="gr_custom_author_1369354882">
            by <a href="http://www.goodreads.com/author/show/67122.Peter_Cooper">Peter Cooper</a>
          </div>
          <div class="gr_custom_tags_1369354882">
            tagged:
            currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1369354882">
          <div class="gr_custom_book_container_1369354882">
            <a href="http://www.goodreads.com/review/show/623031828?utm_medium=api&amp;utm_source=custom_widget" title="Biomimicry"><img alt="Biomimicry" border="0" src="http://d.gr-assets.com/books/1348944361s/7130705.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1369354882">
            <img alt="0 of 5 stars" class=" staticStars" src="http://www.goodreads.com/images/layout/stars/red_star_0_of_5.png" title="0 of 5 stars, " />
          </div>
          <div class="gr_custom_title_1369354882">
            <a href="http://www.goodreads.com/review/show/623031828?utm_medium=api&amp;utm_source=custom_widget">Biomimicry</a>
          </div>
          <div class="gr_custom_author_1369354882">
            by <a href="http://www.goodreads.com/author/show/1660492.Janine_Benyus">Janine Benyus</a>
          </div>
          <div class="gr_custom_tags_1369354882">
            tagged:
            currently-reading
          </div>
      </div>
  <br style="clear: both"/>
  <center>
    <a href="http://www.goodreads.com/"><img alt="goodreads.com" src="http://www.goodreads.com/images/widget/widget_logo.gif" style="border:0" /></a>
  </center>
  <noscript>
    Share <a href="http://www.goodreads.com/">book reviews</a> and ratings with Pat, and even join a <a href="http://www.goodreads.com/group">book club</a> on Goodreads.
  </noscript>
  </div>

      </div>
      <script src="http://www.goodreads.com/review/custom_widget/7599255.Pat's%20bookshelf:%20currently-reading?cover_position=left&cover_size=small&num_books=5&order=a&shelf=currently-reading&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1369354882&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
