---
layout: listlay
title: Circle Round [dot] Net ~ Networking Resources
desc: You can learn all you want, but it's more or less useless if you never share it. These networking resources will help you do just that.
heading: Network
op-quote: "Nobody... can be anybody without somebody being around."
op-quote-sp: "John Weeler"
---
<h2>Connect with...</h2> <!-- List 1 Begin -->
<div class="collapsibleList"> <!-- Section 1.1 -->		
  <h3 class="sub-title">Professionals</h3>
  <div>
    <p>Peer-to-peer networking on a professional level.</p>
    {% include network-inc/conn-professionals.html %}
  </div> <!-- End Section 1.1 Section 1.2 -->
  <h3 class="sub-title">Mentors</h3>
  <div>
    <p>Find peers to teach or to learn from.</p>
    {% include network-inc/conn-mentors.html %}
  </div> <!-- End Section 1.2 Section 1.3 -->
  <h3 class="sub-title">Doers</h3>
  <div>
    <p>Do stuff, make stuff, and go places with others.</p>
    {% include network-inc/conn-doers.html %}
  </div> <!-- End Section 1.3 Section 1.4 -->						
</div> <!-- End List 1 -->
<br />
<h2>Share with...</h2> <!-- List 2 Begin -->
<div class="collapsibleList"> <!-- Section 2.1 -->		
  <h3 class="sub-title">Creatives</h3>
  <div>
    <p>Get those creative juices flowing.</p>
    {% include network-inc/share-creatives.html %}
  </div> <!-- End Section 2.1 Section 2.2 -->
  <h3 class="sub-title">Professionals</h3>
  <div>
    <p>Serious business.</p>
    {% include network-inc/share-professionals.html %}
  </div> <!-- End Section 2.2 Section 2.3 -->
  <h3 class="sub-title">Doers</h3>
  <div>
    <p>Share what you do with those who do.</p>
    {% include network-inc/share-doers.html %}
  </div> <!-- End Section 2.3 Section 2.4 -->
  <h3 class="sub-title">Educators</h3>
  <div>
    <p>Share with fellow educators and students.</p>
    {% include network-inc/share-educators.html %}
  </div> <!-- End Section 2.4 -->
</div> <!-- End List 2 -->
