---
layout: listlay
title: Circle Round [dot] Net ~ Learning Resources
desc: All of the online learning resources I have found. Most of them I have used myself.
heading: Learn
op-quote: "In times of change the learners will inherit the earth, whilst the knowers will be beautifully prepared for a world which no longer exists."
op-quote-sp: "Eric Hoffer"
---
<p>You can get all of these links at once by adding my <a href="http://sprng.me/icg2f" target="_blank">Learn Notebook</a> on Springpad.</p>

<p>It is also highly recommended that you read the following two resources, which reflect many of the values I hold dear when it comes to education: 
      <ul style="text-align:center; padding: 0em 5em 0em;">
        <li><a href="http://www.amazon.com/dp/1455508381" target="_blank">The One World Schoolhouse</a>
          by <a href="http://khanacademy.org/" target="_blank">Salman Khan</a>.</li>
	<li><a href="http://www.cultivatecuriosity.com/learn/sethgodin.typepad.com/stop_stealing_dreams/2012/03/stop-stealing-dreams-the-entire-manifesto-on-the-web-cleaned-up-html-version.html" target="_blank">Stop Stealing Dreams</a> a Manifesto by one of the most forward-thinking men of our time, <a href="http://sethgodin.typepad.com/" target="_blank">Seth Godin</a>.
        </li>
      </ul>
</p> 

<p>Also, when I'm tired of filling my head with stuff, I play brain-training games on <a href="http://www.lumosity.com" target="_blank">Lumosity</a>.</p>

<div class="collapsibleList"> <!-- Section 1 -->		
  <h3 class="sub-title">General</h3>
  <div>    
    <p>These resources don't fit in any other category.</p>
    {% include learn-inc/general.html %}
   </div> <!-- End Section 1 Section 2 -->				
   <h3 class="sub-title">MOOC Platforms</h3>
   <div>
     <p>MOOC, stands for Massive Open Online Course, which
       <a href="http://en.wikipedia.org/wiki/Massive_open_online_course" target="_blank">Wikipedia</a>
       defines as "a type of online course aimed at large-scale participation and 
       open access via the web."					
     </p>
     {% include learn-inc/moocs.html %}
   </div> <!-- End Section 2 Section 3 -->	
   <h3 class="sub-title">OERs</h3>
   <div>
     <p>OER, stands for Open Educational Resources, which
	<a href="http://en.wikipedia.org/wiki/Open_educational_resources" target="_blank">Wikipedia</a>
        defines as "freely accessible, openly formatted, and openly licensed documents 
	and media that are useful for teaching, learning, education, assessment, and 
	research purposes." Find out more @
	<a href="http://www.openeducationweek.org/" target="_blank">Open Education Week 2013</a>
     </p>
     {% include learn-inc/oers.html %}
    </div> <!-- End Section 3 Section 4 -->		
    <h3 class="sub-title">Crowdsourced</h3>
    <div>
      <p>It all started with Wikis - completely open, crowd-sourced 
	 resources varying in quality and completeness.</p>
      {% include learn-inc/crowdsourced.html %}
    </div> <!-- End Section 4 Section 5 -->
    <h3 class="sub-title">Multimedia</h3>
    <div>
      <p>Videos, textbooks, and more.</p>
      {% include learn-inc/multimedia.html %}
    </div> <!-- End Section 5 Section 6 -->
    <h3 class="sub-title">Paid</h3>
    <div>
      <p>These resources still cost less to use than a traditional education
	 but they're not free. </p>
      {% include learn-inc/paid.html %}
    </div> <!-- End Section 6 Section 7 -->
    <h3 class="sub-title">Multilingual</h3>
    <div>
      <p>Learn languages and connect with the global community.</p>
      {% include learn-inc/multilingual.html %}
    </div> <!-- End Section 7 -->
</div> <!-- /collapsibleList -->

