<ol>					
	<li><a href="http://www.youtube.com/watch?list=PL8151FBB7D3E7EFA1&amp;feature=player_embedded&amp;v=M5THXa_H_N8" target="_blank">David Foster Wallace, <span class="ted-desc">Kenyon College, 2005 (This is Water)</span></a>
	</li>
	<li><a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=UF8uR6Z6KLc" target="_blank">Steve Jobs, <span class="ted-desc">Standford University, 2005 </span></a>
	</li>
	<li><a href="https://www.youtube.com/watch?v=5cFY0-IFcwc" target="_blank">Conan O'Brien, <span class="ted-desc">Harvard University, 2000</span></a>
	</li>
	<li><a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=XOqpvsJJEmk" target="_blank">Stephen Colbert, <span class="ted-desc">Knox College, 2006</span></a>
	</li>
	<li><a href="http://www.youtube.com/watch?v=Pn24jP0YbTI" target="_blank">Salman Khan, <span class="ted-desc">MIT, 2012</span></a>
	</li>	
	<li><a href="http://www.youtube.com/watch?feature=player_embedded&v=Wn866ryQ5RY" target="_blank">Joss Whedon, <span class="ted-desc">Wesleyan University, 2013</span></a>
	</li>
</ol>
