<ol>
	<li><a href="http://www.ted.com/talks/ken_robinson_says_schools_kill_creativity.html" target="_blank">Ken Robinson <span class="ted-desc">Says Schools Kill Creativity</span></a>						
	</li>	
	<li><a href="http://www.ted.com/talks/ken_robinson_changing_education_paradigms.html" target="_blank">Ken Robinson: <span class="ted-desc">Changing Educational Paradigms</span></a>						
	</li>
	<li><a href="http://www.ted.com/talks/sir_ken_robinson_bring_on_the_revolution.html" target="_blank">Ken Robinson: <span class="ted-desc">Bring on the Learning Revolution</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/ken_robinson_how_to_escape_education_s_death_valley.html" target="_blank">Ken Robinson: <span class="ted-desc">How to escape education's death valley</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/temple_grandin_the_world_needs_all_kinds_of_minds.html" target="_blank">Temple Grandin: <span class="ted-desc">The World Needs All Kinds of Minds</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/sugata_mitra_build_a_school_in_the_cloud.html" target="_blank">Sugata Mitra: <span class="ted-desc">Build a School in the Cloud</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/geoffrey_canada_our_failing_schools_enough_is_enough.html" target="_blank">Geoffrey Canada: <span class="ted-desc">Our failing schools. Enough is enough</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/angela_lee_duckworth_the_key_to_success_grit.html" target="_blank">Angela Lee Duckworth: <span class="ted-desc">The key to success? Grit</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/ramsey_musallam_3_rules_to_spark_learning.html" target="_blank">Ramsey Musallam: <span class="ted-desc">3 rules to spark learning</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/rita_pierson_every_kid_needs_a_champion.html" target="_blank">Rita Pierson: <span class="ted-desc">Every kid needs a champion</span></a>
	</li>			
</ol>
