<ol>
	<li><a href="http://www.ted.com/talks/jonathan_eisen_meet_your_microbes.html" target="_blank">Jonathan Eisen: <span class="ted-desc">Meet Your Microbes</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/bonnie_bassler_on_how_bacteria_communicate.html" target="_blank">Bonnie Bassler: <span class="ted-desc">How Bacteria "Talk"</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/michael_dickinson_how_a_fly_flies.html" target="_blank">Michael Dickinson: <span class="ted-desc">How a Fly Flies</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/ben_goldacre_battling_bad_science.html" target="_blank">Ben Goldacre: <span class="ted-desc">Battling Bad Science</span></a>
	</li>
	<li><a href="https://www.ted.com/talks/freeman_hrabowski_4_pillars_of_college_success_in_science.html" target="_blank">Freeman Hrabowski: <span class="ted-desc">4 Pillars of College Success in Science</span></a>
	</li>
	<li><a href="https://www.ted.com/talks/laura_snyder_the_philosophical_breakfast_club.html" target="_blank">Laura Snyder: <span class="ted-desc">The Philosophical Breakfast Club</span></a>
	</li>
</ol>
