<ol>					
	<li><a href="http://www.ted.com/talks/j_j_abrams_mystery_box.html" target="_blank">J. J. Abrams: <span class="ted-desc">The Mystery Box</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/martin_villeneuve_how_i_made_an_impossible_film.html" target="_blank">Martin Villenueve: <span class="ted-desc">How I made an impossible film</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/dan_pallotta_the_way_we_think_about_charity_is_dead_wrong.html" target="_blank">Dan Pallotta: <span class="ted-desc">The Way We Think About Charity is Dead Wrong</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/amanda_palmer_the_art_of_asking.html" target="_blank">Amanda Palmer: <span class="ted-desc">The Art of Asking</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/james_geary_metaphorically_speaking.html" target="_blank">James Geary:<span class="ted-desc"> Metaphorically Speaking</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/roger_ebert_remaking_my_voice.html?%80%9d" target="_blank">Roger Ebert: <span class="ted-desc">Remaking My Voice</span></a>
	</li>
	<li><a href="https://www.ted.com/talks/black_my_journey_to_yo_yo_mastery.html" target="_blank">BLACK: <span class="ted-desc">My Journey to Yo-Yo Mastery</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/peter_singer_the_why_and_how_of_effective_altruism.html" target="_blank">Peter Singer: <span class="ted-desc">The why and how of effective altruism</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/jay_silver_hack_a_banana_make_a_keyboard.html" target="_blank">Jay Silver: <span class="ted-desc">Hack a banana, make a keyboard!</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/alastair_parvin_architecture_for_the_people_by_the_people.html" target="_blank">Alastair Parvin: <span class="ted-desc">Architecture for the people by the people</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/phil_hansen_embrace_the_shake.html" target="_blank">Phil Hansen: <span class="ted-desc">Embrace the shake</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/paola_antonelli_why_i_brought_pacman_to_moma.html" target="_blank">Paola Antonelli: <span class="ted-desc">Why I brought Pac-Man to MoMA</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/lisa_bu_how_books_can_open_your_mind.html" target="_blank">Lisa Bu <span class="ted-desc">How books can open your mind</span></a>
	</li>	
</ol>
