<ol>
	<li><a href="http://www.ted.com/talks/andrew_mcafee_are_droids_taking_our_jobs.html" target="_blank">Andrew McAfee: <span class="ted-desc">Are Droids Taking Our Jobs?</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/shyam_sankar_the_rise_of_human_computer_cooperation.html" target="_blank">Shyam Sankar: <span class="ted-desc">The Rise of Human-Computer Cooperation</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/pranav_mistry_the_thrilling_potential_of_sixthsense_technology.html" target="_blank">Pranav Mistry: <span class="ted-desc">The Thrilling Potential of SixthSense Technology</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/daphne_bavelier_your_brain_on_video_games.html" target="_blank">Daphne Bavelier: <span class="ted-desc">Your Brain on Video Games</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/regina_dugan_from_mach_20_glider_to_humming_bird_drone.html" target="_blank">Regina Dugan: <span class="ted-desc">From Mach-20 Glider to Hummingbird Drone</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/eli_pariser_beware_online_filter_bubbles.html" target="_blank">Eli Pariser: <span class="ted-desc">Beware Online "Filter Bubbles"</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/markham_nolan_how_to_separate_fact_and_fiction_online.html" target="_blank">Markham Nolan: <span class="ted-desc">How to Separate Fact and Fiction Online</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/sherry_turkle_alone_together.html" target="_blank">Sherry Turkle: <span class="ted-desc">Connected, but Alone?</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/abraham_verghese_a_doctor_s_touch.html" target="_blank">Abraham Verghese: <span class="ted-desc">A Doctor's Touch</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/catarina_mota_play_with_smart_materials.html" target="_blank">Catarina Mota: <span class="ted-desc">Play with Smart Materials</span></a>
	</li>
	<li><a href="https://www.ted.com/talks/ken_jennings_watson_jeopardy_and_me_the_obsolete_know_it_all.html" target="_blank">Ken Jennings: <span class="ted-desc">Watson, Jeopardy and Me, the Obsolete Know-it-All</span></a>
	</li>			
</ol>
