<ol>
	<li><a href="http://www.ted.com/talks/dan_pink_on_motivation.html" target="_blank">Dan Pink: <span class="ted-desc">The Puzzle of Motivation</span></a>						
	</li>	
	<li><a href="http://www.ted.com/talks/dan_gilbert_asks_why_are_we_happy.html" target="_blank">Dan Gilbert: <span class="ted-desc">The Surprising Science of Happiness</span></a>						
	</li>
	<li><a href="http://www.ted.com/talks/susan_cain_the_power_of_introverts.html" target="_blank">Susan Cain: <span class="ted-desc">The Power of Introverts</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/stanley_mcchrystal.html" target="_blank">Stanley McChrystal: <span class="ted-desc">Listen, Learn... Then Lead</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/bryan_stevenson_we_need_to_talk_about_an_injustice.html" target="_blank">Bryan Stevenson: <span class="ted-desc">We Need to Talk About an Injustice</span></a>
	</li>
	<li><a href="http://www.ted.com/talks/hans_rosling_shows_the_best_stats_you_ve_ever_seen.html" target="_blank">Hans Rosling: <span class="ted-desc">Facts That Reshape Your Worldview</span></a>
	</li>
	<li><a href="https://www.ted.com/talks/dan_ariely_what_makes_us_feel_good_about_our_work.html" target="_blank">Dan Ariely: <span class="ted-desc">What Makes Us Feel Good About Our Work?</span></a>
	</li>				
</ol>
