<ol>
	<li><a href="http://www.youtube.com/user/eduatgoogle" target="_blank">Google in Education</a>
	</li>
	<li><a href="https://www.youtube.com/user/atgoogletalks" target="_blank">Talks at Google</a>
	</li>
	<li><a href="https://www.youtube.com/user/pbsideachannel" target="_blank">PBS Idea Channel</a>
	</li>
	<li><a href="http://www.youtube.com/vsauce" target="_blank">Vsauce</a>
	</li>
	<li><a href="http://www.youtube.com/vsauce2" target="_blank">Vsauce 2</a>
	</li>
	<li><a href="http://www.youtube.com/vsauce3" target="_blank">Vsauce 3</a>
	</li>
	<li><a href="http://www.youtube.com/smartereveryday" target="_blank">Smarter Every Day</a>
	</li>
	<li><a href="http://www.youtube.com/hughesdv" target="_blank">HipHughes History</a>
	</li>
</ol>
