<ol>					
	<li><a href="http://www.youtube.com/user/GoogleTechTalks" target="_blank">Google Tech Talks</a>
	</li>
	<li><a href="http://www.youtube.com/numberphile" target="_blank">Numberphile</a>
	</li>
	<li><a href="http://www.youtube.com/deepskyvideos" target="_blank">Deep Sky Videos</a>
	</li>
	<li><a href="http://www.youtube.com/vihart" target="_blank">Vi Hart</a>
	</li>
	<li><a href="http://www.youtube.com/ASAPScience" target="_blank">ASAP Science</a>
	</li>
	<li><a href="http://www.youtube.com/user/CGPGrey" target="_blank">CGPGrey</a>
	</li>
	<li><a href="http://www.youtube.com/CrashCourse" target="_blank">Crash Course</a>
	</li>
	<li><a href="http://www.youtube.com/MinutePhysics" target="_blank">Minute Physics</a>
	</li>
	<li><a href="http://www.youtube.com/SciShow" target="_blank">SciShow</a>
	</li>
	<li><a href="http://www.youtube.com/Veritasium" target="_blank">Veritasium</a>
	</li>
	<li><a href="http://www.youtube.com/bozemanbiology" target="_blank">Bozeman Biology</a>
	</li>
</ol>
