<ol>
	<li><a href="http://www.volunteermatch.org/" target="_blank">VolunteerMatch</a>					
	</li>
	<li><a href="http://www.wwoof.org/" target="_blank">Worldwide Opps on Organic Farms</a>
	</li>
	<li><a href="http://www.couchsurfing.org/" target="_blank">CouchSurfing</a>
	</li>
	<li><a href="http://www.meetup.com/find/" target="_blank">MeetUp</a>					
	</li>
	<li><a href="https://www.grubwithus.com/" target="_blank">Grub with Us</a>
	</li>
	<li><a href="http://www.adoptahacker.com/" target="_blank">Adopt a Hacker</a>
	</li>
	<li><a href="http://www.vayable.com/" target="_blank">Vayable</a>
	</li>
	<li><a href="http://www.sparked.com/" target="_blank">Sparked</a>
	</li>
	<li><a href="http://www.rebellioustruths.org/" target="_blank">Rebellious Truths</a>
	</li>
</ol>
