<div class="social-wrapper well">
  <div class="social-icon">
    <a href="http://github.com/pathouse" target="_blank">
      <img src="/images/icons/Github-Mark-32px.png">
    </a>
  </div>
  <div class="social-icon">
    <a href="http://twitter.com/patmcbambam" target="_blank">
      <img src="/images/icons/Social-Networks-Twitter-icon.png">
    </a>
  </div>
  <div class="navigation">
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/archive/">archive</a></li>
      <li><a href="/projects/">projects</a></li>
      <li><a href="/resume/">resume</a></li>
    </ul>
  </div>
</div>