---
layout: listlay
title: Circle Round [dot] Net ~ Video Resources
desc: My growing collection of interesting and informative video content from around the web. Watch and learn.
heading: Watch
op-quote: "There's only one corner of the universe you can be certain of improving and that's your own self."
op-quote-sp: "Aldous Huxley"
---
<p>You can get these links all at once by adding my <a href="http://sprng.me/ie7f1" target="_blank">Watch Notebook</a> on Springpad.</p>

<div class="collapsibleList"> <!-- Section 1 -->
  <h3 class="sub-title">TED ~ Education</h3>
  <div> 
    <p>TED talks that focus specifically on education.</p>
    {% include watch-inc/ted-education.html %}
  </div> <!-- End Section 1 Section 2 -->
  <h3 class="sub-title">TED ~ Psychology</h3>
  <div> 
    <p>TED talks that focus on motivation, happiness, and the psychological tendencies that
       shape our thoughts and actions.</p>
    {% include watch-inc/ted-psychology.html %}
  </div> <!-- End Section 2 Section 3 -->
  <h3 class="sub-title">TED ~ Technology</h3>
  <div> 
    <p>TED talks that focus on advances in technology.</p>
    {% include watch-inc/ted-technology.html %}
  </div> <!-- End Section 3 Section 4 -->
  <h3 class="sub-title">TED ~ Neuroscience</h3>
  <div>
    <p>TED talks that focus on research and advances in neuroscience.</p>
    {% include watch-inc/ted-neuroscience.html %}
  </div> <!-- End Section 4 Section 5 -->
  <h3 class="sub-title">TED ~ Science</h3>
  <div>
    <p>TED talks that focus on scientific research, discoveries, and innovation.</p>	
    {% include watch-inc/ted-science.html %}		
  </div> <!-- End Section 5 Section 6 -->
  <h3 class="sub-title">TED ~ Misc.</h3>
  <div> 
    <p>TED talks that don't fall into any other categories.</p>
    {% include watch-inc/ted-misc.html %}
  </div> <!-- End Section 6 Section 7 -->
  <h3 class="sub-title">Commencement Speeches</h3>
  <div> 
    <p>When great minds are asked to summarize all of their collected wisdom
       for a group of college graduates, good things happen.</p>
    {% include watch-inc/commencements.html %}
  </div> <!-- End Section 7 Section 8 -->
  <h3 class="sub-title">YouTube Channels ~ Science &amp; Tech</h3>
  <div> 
    <p>YouTube doesn't have a reputation for being a center of education and creative
	thought, yet it is one. The individuals that curate these channels demonstrate the
	the fact that the tool is less important than what you do with it.
    </p>
    {% include watch-inc/youtube-science.html %}
  </div> <!-- End Section 8 Section 9 -->
  <h3 class="sub-title">YouTube Channels ~ Misc.</h3>
  <div>
    <p>YouTube doesn't have a reputation for being a center of education and creative
	thought, yet it is one. The individuals that curate these channels demonstrate the
	the fact that the tool is less important than what you do with it.</p>
    {% include watch-inc/youtube-misc.html %}				
  </div> <!-- End Section 9 Section 10 -->
  <h3 class="sub-title">Do Lectures ~ Process</h3>
  <div>
    <p>Gathered in a cabin in the middle of Wales, great innovators and doers
	are made to divulge their secrets. These videos focus on how to get things
	done.</p>
    {% include watch-inc/do-process.html %}
  </div> <!-- End Section 10 Section 11-->
  <h3 class="sub-title">Do Lectures ~ Progress</h3>
  <div>
    <p>Gathered in a cabin in the middle of Wales, great innovators and doers
	are made to divulge their secrets. These videos focus on what's happening now
	and what might happen in the future.</p>
    {% include watch-inc/do-progress.html %}				
  </div> <!-- End Section 11 -->
	<h3 class="sub-title"> At Google Talks</h3>
	<div> <!-- Section 12 -->
		<p>Google invites all sorts of people to talk there, all shared on the web via their YouTube channel. I am slowly finding my favorites - and only slowly because they're an hour long on average.</p>
		{% include watch-inc/at-google-talks.html %}
	</div> <!-- End Section 12 -->	
</div>
