<ol>
	<li><a href="http://rubykoans.com/" target="_blank">Ruby Koans</a>
	</li>
  <li><a href="http://rubymonk.com/" target="_blank">Ruby Monk</a>
	</li>
  <li><a href="http://hackety.com/" target="_blank">Hackety Hack</a>
	</li>
	<li><a href="http://ruby.learncodethehardway.org/" target="_blank">Learn Ruby the Hard Way</a>
	</li>
	<li><a href="http://www.ruby-doc.org/stdlib-2.0/" target="_blank">Ruby Standard Libraries</a>
	</li>
	<li><a href="http://pine.fm/LearnToProgram/" target="_blank">Chris Pine's Learn to Program</a>
	</li>
	<li><a href="http://rubylearning.com/" target="_blank">RubyLearning.com</a>
	</li>
	<li><a href="http://rubyrogues.com/" target="_blank">Ruby Rogues</a>
	</li>
	<li><a href="http://testfirst.org/learn_ruby" target="_blank">TestFirst - Learn Ruby</a>
	</li>
	<li><a href="http://mislav.uniqpath.com/poignant-guide/" target="_blank">Why's (Poignant) Guide to Ruby</a>
	</li>
</ol>
