<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- Favicon -->
        {% include favo.html %}         
 
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Google Web Fonts -->
        <!-- 'Oxygen' sans-serif (Bold 700), 'Droid Serif', serif (Normal 400) -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700|Droid+Serif' rel='stylesheet' type='text/css'>

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <div class="opening-quote">"{{ page.op-quote }}" -- {{ page.op-quote-sp }}</div>
              <div class="nav"> {% include nav.html %}                 
              </div>
            </div>
     
                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Pat McGee<br />
                  Writer, Developer, Educator<br />
                  patmcgee331@gmail.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/pathouse">github.com/pathouse</a><br />
                  <a href="http://twitter.com/giantshoulders">twitter.com/giantshoulders</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
