<!DOCTYPE html>
<html lang="en">
    {% include common/head.html %}
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              {% include common/title.html %}
              <blockquote>
                <p>
                  "Genius Round the World Stands Hand in Hand,<br>
                  But One Shock of Recognition Runs the Whole Circle Round"
                </p>
                <small>Herman Melville</small>
              </blockquote>
              <div class="nav"> {% include nav.html %}                 
              </div>
            </div>
     
                {{ content }}

            {% include common/footer.html %}
          </div>
        </div> <!-- /container -->

    </body>
</html>
