<div class="row">
  <div class="col-lg-6">
    <h2>Weekend Data Wrangler</h2>
    <p>Data science and visualization has quickly become one of my biggest hobbies and my side projects usually involve it in some way. It's the perfect blend of hacking, math, science, and pretty pictures to show all your non-programmer friends.</p>
  </div>
  <div class="col-lg-6 profile-images-section">
    <img class="tech-logo" src="/images/logos/python_logo.png" alt="python">
    <img class="tech-logo" src="/images/logos/ipython.png" alt="ipython">
    <img class="tech-logo" src="/images/logos/d3js-logo.jpg" alt="d3.js">
  </div>
</div>