<div class="row">
  <div class="col-lg-6">
    <h2>Education Enthusiast</h2>
    <p>Better education = better world. I'm passionate about education, independent learning, quantified-self, etc.</p>
  </div>
  <div class="col-lg-6 profile-images-section">
    <img class="tech-logo" src="/images/logos/KhanAcademyLogo.png" alt="khan academy">
    <img class="tech-logo" src="/images/logos/edx_logo_200x200.png" alt="edx">
    <img class="tech-logo" src="/images/logos/codecademy.jpg" alt="codecademy">
  </div>
</div>