<div class="row">
  <div class="col-lg-6">
    <h2>Web Developer</h2>
    <p>By day I'm a web developer. I work primarily with Ruby on Rails, but in my spare time I'm always exploring new and exciting technologies.</p>
  </div>
  <div class="col-lg-6 profile-images-section">
    <img class="tech-logo" src="/images/logos/Ruby_on_Rails-logo.png" alt="ruby on rails">
    <img class="tech-logo" src="/images/logos/html5css3.png" alt="html 5 and css 3">
    <img class="tech-logo" src="/images/logos/64px-Javascript-logo.png" alt="javascript">
  </div>
</div>