<ol>
	<li><a href="http://www.kegel.com/" target="_blank">Dan Kegel's Web Hostel</a>
	</li>
	<li><a href="http://bjk5.com" target="_blank">Ben Kamens</a>
	</li>
	<li><a href="http://www.thesimplelogic.com" target="_blank">The Simple Logic</a>
	</li>
	<li><a href="http://code.stephenmorley.org" target="_blank">Stephen Morley</a>
	</li>
	<li><a href="http://www.paulgraham.com/articles.html" target="_blank">Paul Graham's Essays</a>
	</li>
	<li><a href="http://www.catb.org/esr/writings/" target="_blank">Eric S. Raymond's Essays</a>
	</li>
  <li><a href="http://www.joelonsoftware.com/" target="_blank">Joel on Software</a>
	</li>
  <li><a href="http://steve-yegge.blogspot.com/" target="_blank">Steve Yegge</a>
	</li>      
	<li><a href="http://www.ericsink.com/" target="_blank">Eric Sink</a>
	</li>
  <li><a href="http://www.skrenta.com/" target="_blank">Rich Skrenta</a>
	</li>
  <li><a href="http://weblogs.asp.net/scottgu/" target="_blank">Scott Guthrie</a>
	</li>
  <li><a href="http://www.johndcook.com/blog/" target="_blank">John Cook</a>
	</li>
  <li><a href="http://a16z.com/resource-library/" target="_blank">a16z</a>
	</li>
</ol>
