<ol>
	<li><a href="http://samizdat.mines.edu/howto/HowToBeAProgrammer.html" target="_blank">How to be a Programmer</a>
	</li>
	<li><a href="http://www.catb.org/esr/writings/cathedral-bazaar/" target="_blank">The Cathedral &amp; the Bazaar</a>
	</li>
	<li><a href="http://regex.learncodethehardway.org/" target="_blank">Learn Regex the Hard Way</a>
	</li>	
	<li><a href="http://sql.learncodethehardway.org/" target="_blank">Learn SQL the Hard Way</a>
	</li>
	<li><a href="http://cli.learncodethehardway.org/" target="_blank">Command Line Crash Course</a>
	</li>		
</ol>
