<ol>
	<li><a href="http://git-scm.com/book/en/Getting-Started-Git-Basics" target="_blank">Git Basics</a>
  </li>
	<li><a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a>
  </li>
  <li><a href="http://zmoazeni.github.io/csscss/" target="_blank">CSSCSS</a>
  </li>
	<li><a href="http://www.aptana.com/products/studio3" target="_blank">Aptana Studio 3</a>
  </li>	
	<li><a href="http://scratchpad.io/" target="_blank">Scratchpad</a>
	</li>
	<li><a href="http://jsfiddle.net/" target="_blank">jsFiddle.net</a>
	</li>
	<li><a href="http://sizzlejs.com/" target="_blank">Sizzle</a>
	</li>		
</ol>
