<ol>
	<li><a href="http://docs.oracle.com/javase/7/docs/api/" target="_blank">Java SE 7</a></li>
	<li><a href="http://docs.python.org/2/library/" target="_blank">Python Standard Library</a></li>
	<li><a href="http://docs.python.org/2/c-api/" target="_blank">Python/C API Reference</a></li>
	<li><a href="http://www.ruby-doc.org/stdlib-2.0/" target="_blank">Ruby Standard Libraries</a></li>
	<li><a href="http://api.rubyonrails.org/" target="_blank">Ruby on Rails API</a></li>		
	<li><a href="http://php.net/docs.php" target="_blank">PHP Documentation</a></li>
	<li><a href="http://api.jquery.com/" target="_blank">jQuery</a>	
		<ul style="margin-left: 2em;">
			<li><a href="http://api.jqueryui.com/" target="_blank">UI</a></li>
			<li><a href="http://api.jquerymobile.com/" target="_blank">Mobile</a></li>
			<li><a href="http://api.qunitjs.com/" target="_blank">QUnit</a></li>
		</ul>
	</li>
	<li><a href="http://www.gnu.org/software/bash/manual/bashref.html" target="_blank">Bash Reference Manual</a>
	</li>
</ol>
