<ol>
	<li><a href="http://thecodeplayer.com/" target="_blank">The Code Player</a>
	</li>
	<li><a href="http://www.webplatform.org/" target="_blank">Web Platform.org</a>
	</li>
	<li><a href="http://www.topcoder.com/" target="_blank">Top Coder</a>
	</li>
	<li><a href="http://www.code.org/learn/codehs" target="_blank">Code.org</a>
	</li>
	<li><a href="http://www.teachingtree.co/" target="_blank">Teaching Tree.co</a>
	</li>
	<li><a href="http://www.saylor.org/majors/computer-science/" target="_blank">Saylor.org</a>
	</li>
	<li><a href="http://docs.oracle.com/javase/tutorial/java/index.html" target="_blank">The Java Tutorials</a>
	</li>
 	<li><a href="http://www.bigocheatsheet.com/" target="_blank">Big O Complexity Cheat Sheet</a>
	</li>
  <li><a href="http://jeremykun.com/primers/" target="_blank">Math Intersects Programming</a>
	</li>
  <li><a href="http://stackoverflow.com/questions/1644/what-good-technology-podcasts-are-out-there" target="_blank">Tech Podcasts (listed on StackOverflow)</a>
	</li>
  <li><a href="http://rubykoans.com/" target="_blank">Ruby Koans</a>
	</li>
  <li><a href="http://rubymonk.com/" target="_blank">Ruby Monk</a>
	</li>
  <li><a href="http://hackety.com/" target="_blank">Hackety Hack</a>
	</li>
</ol>
