---
layout: default
title: Circle Round [dot] Net ~ Read
heading: Read
desc: Reading is good for you. Here are my blog posts organized in categories, as well as the blogs of others that I think are worth reading, and the list of books that I'm currently reading or want to read.
op-quote: "The best way to have a good idea is to have lots of ideas."
op-quote-sp: "Linus Pauling"
---

<div class="heading"><h2> {{ page.heading }} </h2></div>
<div class="about">
  <h3 class="sub-title">About</h3>
  <p>{{ page.desc }}</p>
</div>
<br />
<div id="home">
  <h1>My Reading List</h1>
  <ul>
    <li><a href="http://www.amazon.com/Willpower-Instinct-Self-Control-Works-Matters/dp/1583334386" target="_blank">The Willpower Instinct: How Self-Control Works, 
   Why It Matters, and What You Can Do To Get More of It</a><br /> --Kelly McGonigal</li>
    <li><a href="http://www.amazon.com/dp/0143122231" target="_blank">Willpower: Rediscovering the Greatest Human Strength</a><br /> --Roy F. Baumeister</li>
    <li><a href="http://www.amazon.com/Too-Big-Know-Rethinking-Everywhere/dp/0465021425" target="_blank">Too Big to Know: Rethinking Knowledge Now That the Facts Aren't the Facts, 
   Experts Are Everywhere, and the Smartest Person in the Room Is the Room</a><br /> --David Weinberger</li>
    <li><a href="http://www.amazon.com/exec/obidos/ASIN/0307279502/permissionmarket/ref=nosim/" target="_blank">The Gift: Creativity and the Artist in the Modern World</a><br /> --Lewis Hyde</li> 
  </ul>
  <br />
  <br />
  <h1>Too Long; Didn't Read</h1>
  <p>Lengthier posts on various topics.</p>
  <ul class="posts">
    {% for post in site.categories.tldr %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul> <!-- /tldr -->
  <br />
  <h1>Brainfart</h1>
  <p>Short, sweet, and (hopefully) to-the-point.</p>
  <ul class="posts">
    {% for post in site.categories.brainfart %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul> <!-- /brainfart -->
  <br />
  <h1>Quotes</h1>
  <p>I am a lover and collector of quotes. These are some of my favorites.</p>
  <ul class="posts">
    {% for post in site.categories.wise-words %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul> <!-- /quotes -->
  <br />
  <h1>Articles</h1>
  <p>Links to specific articles and blog posts I thought were worth sharing.</p>
  <ul class="posts">
    {% for post in site.categories.articles %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul> <!-- /articles -->
     
</div> <!-- /home -->
